@media (max-width: 375px) {
  .container {
    height: auto;
    flex-direction: column;
  }
  .leftSide {
    height: 100vh;
    width: 100%;
  }
  .leftSide_image img {
    width: 100%;
    height: 100%;
  }

  .leftSide_inputs {
    width: 100%;
  }
  .leftSide_inputs h1 {
    font-size: 30px;
  }
  .rightSide {
    height: 100vh;
    width: 100%;
  }
  .rightSide_image {
    width: 100%;
    height: 80%;
    justify-content: center;
  }
  .rightSide_image img {
    width: 100%;
    height: 70%;
  }
  .rightSide_texts {
    text-align: center;
  }
}

@media (min-width: 376px) and (max-width: 450px) {
  .container {
    height: auto;
    flex-direction: column;
  }
  .leftSide {
    height: 100vh;
    width: 100%;
  }
  .leftSide_image {
    height: 40%;
  }

  .leftSide_inputs {
    width: 100%;
    height: 60;
  }
  .leftSide_inputs h1 {
    font-size: 35px;
  }
  .rightSide {
    height: 100vh;
    width: 100%;
  }
  .rightSide_image {
    width: 100%;
    height: 80%;
    justify-content: center;
  }
  .rightSide_image img {
    width: 100%;
    height: 70%;
  }
  .rightSide_texts {
    text-align: center;
  }
}

@media (min-width: 451px) and (max-width: 700px) {
  .container {
    height: auto;
    flex-direction: column;
  }
  .leftSide {
    height: 100vh;
    width: 100%;
  }
  .leftSide_image {
    height: 60%;
  }

  .leftSide_inputs {
    width: 100%;
    height: 60;
  }
  .leftSide_inputs h1 {
    font-size: 45px;
  }
  .rightSide {
    height: 100vh;
    width: 100%;
  }
  .rightSide_image {
    width: 100%;
    height: 80%;
    justify-content: center;
  }
  .rightSide_image img {
    width: 100%;
    height: 90%;
  }
  .rightSide_texts {
    text-align: center;
  }
}

@media (min-width: 701px) and (max-width: 960px) {
  .leftSide {
    width: 50%;
  }
  .rightSide {
    width: 50%;
  }
  .leftSide_image {
    height: 50%;
  }
  .leftSide_inputs h1 {
    font-size: 30px;
    text-align: center;
  }
  .leftSide_inputs {
    width: 95%;
  }
  .rightSide_image img {
    width: 100%;
    height: 80%;
  }
}
